.counter_up{
  padding: 80px 0;
  background-image: url(../images/counter.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.cp{
    padding: 20px;
    text-transform: uppercase;
}

.cp i{
    font-size: 40px;
}

.counter{
    font-size: 40px;
}
